<template>

        <TransitionGroup name="list" tag="ul" :duration=500>
            <li class="list" v-for="icon in array" :key="icon">
                {{ icons[icon].id }}
            </li>
        </TransitionGroup>

</template>
<script setup lang=ts>
import { icons } from '../icons'
import { ref, watch } from 'vue';

const array = ref(generateUniqueArray(icons, icons.length / 2))


watch(array, () => {
    setTimeout(() => {
        array.value = itterateUniqueArray(array.value)
    }, 2000)
}, { immediate: true })



//HELPERS
function generateUniqueArray(array: any, length: number) {
    let arr: number[] = [];
    while (arr.length < length) {
        let r = getRandomInt(0, array.length - 1);
        if (!arr.includes(r)) arr.push(r);
    }
    return arr
}


function itterateUniqueArray(array: number[]): number[] {
    const newArray = [...array]
    let number = getRandomInt(0, array.length - 1);
    while (array.includes(number)) {
        number = getRandomInt(0, array.length);
    }
    newArray[getRandomInt(0, array.length - 1)] = number
    return newArray

}

function getRandomInt(min: number, max: number) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
}
</script>

<style>
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.list {
    font-size: 2rem;
    opacity: 1;
    position: relative;
}

.move,
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
}


.list-leave-active {
    position: absolute;
}
</style>